@{
    ViewBag.Title = "FileMove";
    Layout = null;
}
<link href="~/Content/Css/Audio.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        var Share = window.frames["left"].$("#Share").val();
        if (Share != undefined) {
            Share = true;
        } else {
            Share =false;
        }
        DFBGFlie.Flie.FlieOperation.Move("", $(".treeview-node"), 0, Share);
    })
</script>
<div id="fileTreeDialog" _movetype="@ViewBag.MoveType" class="dialog dialog-fileTreeDialog dialog-gray" style="width: 520px;display: block; ">
    <div id="popup_title" class="dialog-header dialog-drag YIdong">
        <h3>
            <span class="dialog-header-title">
                @if( @ViewBag.MoveType == "1" )
                {
                    <em class="select-text">复制到</em>
                }
                else
                {
                    <em class="select-text">移动到</em>
                }
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close" onclick="$.closezhezhao('popup_container', 'popup_overlay')">
                <span class="sicon">×</span>
            </span>
        </div>
    </div>
    <div class="dialog-body">
        <div class="file-tree-container">
            <ul class="treeview treeview-content _disk_id_13">
                <li>
                    <div style="padding-left:0px" class="treeview-node  treeview-node-on treeview-root _minus" _childfolder="1">
                        <span class="treeview-node-handler">
                            <em class="b-in-blk plus icon-operate minus"></em>
                            <dfn class="b-in-blk treeview-ic"></dfn>
                            <span class="treeview-txt" treeview="">全部文件</span>
                        </span>
                    </div>
                    <ul class="treeview treeview-root-content treeview-content "></ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="dialog-footer g-clearfix">
        <a href="javascript:$.closezhezhao('popup_container', 'popup_overlay' )" data-button-index="" data-button-id="b65" class="g-button g-button-large" style="float: right; padding-left: 50px;">
            <span class="g-button-right" style="padding-right: 50px;">
                <span class="text" style="width: auto;">取消</span>
            </span>
        </a>
        <a href="javascript:DFBGFlie.Flie.FlieOperation.MoveFile()" data-button-index="" data-button-id="b67" class="g-button g-button-blue-large" style="float: right; padding-left: 50px;">
            <span class="g-button-right" style="padding-right: 50px;">
                <span class="text" style="width: auto;">确定</span>
            </span>
        </a>
        <a href="javascript:DFBGFlie.Flie.FlieOperation.MoveAddFile();" data-button-index="" data-button-id="b69" class="g-button g-button-large" style="float: left;">
            <span class="g-button-right">
                <em title="新建文件夹" class="icon icon-newfolder"></em>
                <span class="text" style="width: auto;">新建文件夹</span>
            </span>
        </a>
    </div>
</div>
