@{
    ViewBag.Title = "FileExitForMove";
    Layout = null;
}
<link href="~/Content/Css/Move.css" rel="stylesheet" />
<div class="dialog alert-dialog-asyn-view" id="dialog1" style="width: 520px;  display: block; visibility: visible; z-index: 53;">
    <div class="dialog-header dialog-drag">
        <h3>
            <span class="dialog-header-title">
                <em class="select-text">复制文件</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
        </div>
    </div>
    <div class="dialog-body">
        <div class="dialog-asyn-view">
            <h4>移动的位置已经包含了同名的文件夹，请选择你的操作：</h4>
            <div class="asyn-view-content">
                <div class="asyn-view-content-item">
                    <span class="asyn-view-tip-msg">已有文件夹：</span>
                    <div class="asyn-view-tip-info">
                        <span class="asyn-view-tip-icon global-icon-16 global-icon-16-dir">
                        </span>
                        <span class="asyn-view-tip-name">照片</span>
                    </div>
                    <span class="asyn-view-tip-date">修改日期：2017-07-30 22:30</span>
                </div>
                <div class="asyn-view-content-item">
                    <span class="asyn-view-tip-msg">正在移动的文件夹：</span>
                    <div class="asyn-view-tip-info">
                        <span class="asyn-view-tip-icon global-icon-16 global-icon-16-dir">
                        </span><span class="asyn-view-tip-name">照片</span>
                    </div><span class="asyn-view-tip-date">修改日期：2017-09-04 11:41</span>
                </div>
            </div>
            <div class="asyn-view-checkbox  on">
                <span class="global-icon-checkbox"></span>为其余的<span class="asyn-red">1</span>个重名文件夹都执行此操作
            </div>
        </div>
    </div>
    <div class="dialog-footer g-clearfix">
        <a href="javascript:void(0);" data-button-index="" data-button-id="b89" class="g-button g-button-blue-large">
            <span class="g-button-right">
                <span class="text" style="width: auto;">跳过</span>
            </span>
        </a>
        <a href="javascript:void(0);" data-button-index="" data-button-id="b91" class="g-button g-button-blue-large" style="padding-left: 36px;">
            <span class="g-button-right" style="padding-right: 36px;">
                <span class="text" style="width: auto;">保留两个文件夹</span>
            </span>
        </a>
        <a href="javascript:void(0);" data-button-index="" data-button-id="b93" class="g-button g-button-large" style="padding-left: 36px;">
            <span class="g-button-right" style="padding-right: 36px;"><span class="text" style="width: auto;">取消</span></span>
        </a>
    </div>
</div>