@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/MP.cshtml";
}

<div class="maincontent">
    <div class="maincontentinner">
        <div role="grid" class="dataTables_wrapper" id="dyntable_wrapper" style="margin-bottom:10px;">
            <input id="userCode" value="@ViewBag.userCode" type="hidden" />
            <input id="userName" value="@ViewBag.userName" type="hidden" />
            <div class="dataTables_filter" id="dyntable_filter">
                <span>用户组名称</span>
                <input id="GroupName" type="text" placeholder="输入用户组名称" />
                <span>申请人</span>
                <input id="UserName" type="text" placeholder="输入申请人姓名" />
                <label class="btn" style=" padding: 1px 6px 0px; float: right" id="btnSearch">查询</label>
            </div>
        </div>
        <table class="gridView table table-bordered responsive dataTable" width="100%">
            <tr>
               
                <th align="center" width="80" class="head0">站内信名称</th>
                <th align="center" width="250" class="head0">站内信信息</th>
                <th align="center" width="80" class="head0">站内信发送时间</th>
                <th align="center" width="80" class="head0">站内信状态</th>
                <th align="center" width="100" class="head0">操作</th>
            </tr>
        </table>
    </div>
</div>

@section Script
    {
    <script src="~/Scripts/Page.js"></script>
    <script src="~/Scripts/Yun/Messger.js"></script>
    <script type="text/javascript">
        Query(1);
        $("#btnSearch").bind('click', function () {
            Query(1);
        })

    </script>
}

