<!DOCTYPE html>

<html >
<head>
    <title>壹键通教育云盘服务平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/Css/CSS.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/CSS_two.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/WEB/WebJs.js" type="text/javascript"></script>
    <script src="~/Scripts/Yun/File.js"></script>
    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head", required: false)
    }

</head>

@RenderBody()

@if (IsSectionDefined("Script"))
{
    @RenderSection("Script", required: false)
}

</html>
