@model Model.YUN_FileInfo
@{
    ViewBag.Title = "Detail";
    Layout = null;
}
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=7,9,10,11" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <title>壹键通教育云盘服务平台</title>
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <link href="~/Content/Css/CSS.css" rel="stylesheet" />
    <link href="~/Content/Css/Share.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/WEB/WebJs.js"></script>
    <script src="~/Scripts/Yun/File.js"></script>
    <script src="~/Scripts/Yun/ShareOne.js"></script>
    <script src="~/Scripts/Menu.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".cMEMEF").click(function () {
                $(this).addClass("wGMtMgb").siblings().removeClass("wGMtMgb");
            })
            GetManage();
            setInterval("GetManage()", 30000);
        })
    </script>
</head>
<body class="body">
    <input type="hidden" id="HidFileId" value="0" />@*存放父级文件id*@
    <div class="mainwrapper">
        <div class="header" style="height:76px;">
            <div class="headerinner">
                <div style="float: left; height: 76px; margin-left:20px;">
                    <img src="/Content/Img/logo.gif" style=" margin-top:5px; ">
                </div>
                <div style="float: left; height: 76px;">
                    <img src="/Content/Img/logo2.png" style=" margin-top:5px; ">
                </div>
                <ul class="headmenu">
                    <li class="right">
                        <div class="userloggedinfo">

                            <div class="userinfo">
                                <h5>
                                    @if( ViewBag.Te != null )
                                    {
                                    @ViewBag.Te.userName;
                                                        string userType = ViewBag.Te.userType;
                                                        switch( userType )
                                                        {
                                                            case "1":
                                    <small>-教师</small>
                                                                break;
                                                            case "2":
                                    <small>-学生</small>
                                                                break;
                                                            case "3":
                                    <small>-家长</small>
                                                                break;
                                                            default:
                                                                break;
                                                        }
                                    }
                                </h5>
                                <ul>
                                    <li>
                                        <a href="/Messger/List" target="left">站内信<span id="MessgerCount"> </span></a>
                                    </li>
                                    <li>
                                        <a href="/Home/OutLogin">退出登录</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="global-clearfix" id="bd">
            <div id="bd-main">
                <div class="bd-left">
                    <div class="module-share-header" node-type="module">
                        <div class="slide-show-header clearfix">
                            <div class="slide-show-left">
                                <h2 title="@(Model.FileName)等" class="file-name"><em class="global-icon-16 global-icon-16-multi"></em>@(Model.FileName)等</h2>
                            </div>
                            <div class="slide-show-right">
                                <span class="slide-header-funcs">
                                </span>
                                <div class="module-share-top-bar g-clearfix">
                                    <div class="bar" style="white-space: nowrap; position: relative;">
                                        <div style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;" class="button-box-mark">

                                        </div>
                                        <div style="position: absolute; top: 0px; padding-top: 0px; line-height: normal;" class="button-box">
                                            <a href="javascript:void(0);" data-button-index="1" data-button-id="b1" class="g-button">
                                                <span class="g-button-right">
                                                    <em title="取消分享" class="icon icon-share-cancel"></em>
                                                    <span class="text" style="width: auto;">取消分享</span>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" data-button-index="2" data-button-id="b3" class="g-button">
                                                <span class="g-button-right">
                                                    <em title="下载" class="icon icon-download"></em>
                                                    <span class="text" style="width: auto;">下载</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cb"></div>
                            <div class="slide-show-other-infos">
                                <div class="share-file-info">
                                    <span> @Model.ShareTime</span>
                                </div>
                                <div class="share-valid-check">
                                    失效时间：永久有效
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left: 10px;">
                        <div style="height: 30px; line-height: 30px; padding-left: 10px; position: relative;">
                            @*<span>全部文件</span>*@
                            <span style="float: right; margin-right: 20px;" id="SumUse"></span>
                            <span style="float: right; margin-right: 20px;" id="SumNum"></span>
                            <ul id="TitleIds" class="historylistmanager-history" style="display:block;"></ul>
                        </div>
                        <div class="list-view-header FileShowList" style=" width: 100%;">
                            <div class="list-header">
                                <ul style="display: block;" class="list-cols">
                                    <li class="col first-col descend" style="width: 49%;position:relative;">
                                        <div class="col-item check"><input type="checkbox" id="checkAll" onclick="AllCheck()" class="check-icon"></div>
                                        <span class="text">文件名</span><span class="order-icon"></span>
                                    </li>
                                    <li class="col" style="width: 16%;"><span class="text">大小</span><span class="order-icon"></span></li>
                                    <li class="col" style="width: 9.5%;"><span class="text">状态</span><span class="order-icon"></span></li>
                                    <li class="col" style="width: 10%;"><span class="text">分享人</span><span class="order-icon"></span></li>
                                    <li class="col last-col" style="width: 13%;"><span class="text">分享日期</span><span class="order-icon"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div style="display: block;" class="list-view-container" id="list-view-container">
                            <div class="module-list-view" style="overflow-x: hidden; overflow-y: auto;">
                                @*  列表显示*@
                                <div id="FileShowList" class="list-view FileShowList" style="margin-top: 0px;  height: 45%;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--弹出层  删除-->
    <div id="popup_overlay"></div>
    <div id="popup_overlay2"></div>
    <div id="popup_container"></div>
    <div id="popup_container2"></div>

    <div class="b-panel b-canvas"></div>
    <div class="module"></div>
    <script type="text/javascript">
        $(function () {
            var FileId = $.getQueryStringByName("FileId");//如果是文件夹点进来，需获取文件夹的id

            var UrlLoad = "/SchoolShare/ShareOneLoad/@ViewBag.ShareLink";
            var Url = "/SchoolShare/ShareOne/@ViewBag.ShareLink?FileId=";
            //调用方法加载网盘数据
            HY.FlieShare.Flie.MyFileLoad(FileId,UrlLoad, Url);
        })

    </script>
</body>

</html>
