@{
    ViewBag.Title = "Login2";
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="ie-comp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>壹键通教育云盘服务平台</title>
    <script src="~/Scripts/WEB/WebJs.js"></script>
    <script src="~/Scripts/WEB/Login.js"></script>
    <script>
        $(document).ready(function () {
            $("#usertype :button").click(function () {
                $('#usertype .btn-primary').removeClass('btn-primary');
                $(this).addClass("btn-primary");

            });

        });



    </script>

</head>
<body>
    <div style="padding-left: 15%; padding-right: 15%; ">
        <div class="text-center info-wrapper">
            <div class="bg-danger" style="display:none;">
                <span class="text-danger"></span>
            </div>
        </div>
        <div id="loginForm">
            <div class="login-wrapper">
                <h3>登录</h3>
                <div>
                    <form method="post" action="/Home/ToLogin" id="fm1">
                        <div class="form-group">
                            <input type="hidden" value="1" name="inputUserType" id="inputUserType" />

                            <div class="clearfix">
                                <label for="inputUserName" class="control-label">用户名（姓名或代码）</label>
                                <span id="usertype" class="pull-right">
                                    <button type="button" class="btn btn-primary btn-xs active" id="T">教师</button>
                                    <button type="button" class="btn btn-default btn-xs active" id="S">学生</button>
                                    <button type="button" class="btn btn-default btn-xs active" id="P">家长</button>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="inputUserCode" id="inputUserCode" placeholder="姓名或代码" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label">密码</label>
                            <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="密码" />
                        </div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary( true )
                        <div>
                            <button type="submit" class="btn btn-primary" id="login" onclick="return submitLogin()">登录</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>

        <hr />
        <p style="text-align: center;">东方博冠（北京）科技有限公司 版权所有 ©2016-2020</p>
    </div>
</body>
</html>
