@{
    ViewBag.Title = "Login";
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>壹键通教育云盘服务平台</title>
    <link href="/Content/Css/Login/global.css" rel="stylesheet" />
    <link href="/Content/Css/Login/login.css" rel="stylesheet" />
  
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Content/Css/Login/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/WEB/Login.js"></script>

</head>
<body>
    <script type="text/javascript">

        var changeImgs = [{
            img: '/Content/Css/Login/main_one.jpg'
        }, {
            img: '/Content/Css/Login/main_two.jpg'
        }, {
            img: '/Content/Css/Login/main_three.jpg'
        }, {
            img: '/Content/Css/Login/main_four.jpg'
        }];
        $(function () {
            for (var i = 0; i < changeImgs.length; i++) {
                var picStr = "<li style=\" repeat-x\" data-index=\"" + i + "\"><img width='100%;' height='100%;' class=\"img\" src=\"" + changeImgs[i].img + "\"></li>";
                $(picStr).appendTo(".pic-box");
            }

            $('.flexslider').flexslider({
                pauseOnAction: true, //单击白点后是否暂停切换（无法代码重启切换）
                slideshowSpeed: 6000, //切换间隔，单位：毫秒，默认5000
                animationSpeed: 1000 //动画速度，单位：毫秒，默认1000
            });
        });

    </script>
    <style type="text/css">
        *html .pic-box, *html .foot {
            position: absolute;
            top: expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight-this.offsetHeight));
        }

        *html .picker-bar {
            position: absolute;
            top: expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight-this.offsetHeight) - 60);
        }
    </style>
    <!--[if IE 6]>
    <script type="text/javascript" src="/Content/Css/Login/jquery.pngFix.pack.js"></script>
    <![endif]-->
    <div class="flexslider">
        <ul class="pic-box">
            <li data-index="0" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.681138; display: block; z-index: 1;" class="">
                <img width="100%;" height="100%;" src="/Content/Css/Login/main_one.jpg" class="img" draggable="false">
            </li>
            <li data-index="1" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.318862; display: block; z-index: 2;" class="flex-active-slide">
                <img width="100%;" height="100%;" src="/Content/Css/Login/main_two.jpg" class="img" draggable="false">
            </li>
            <li data-index="2" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
                <img width="100%;" height="100%;" src="/Content/Css/Login/main_three.jpg" class="img" draggable="false">
            </li>
            <li data-index="3" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
                <img width="100%;" height="100%;" src="/Content/Css/Login/main_four.jpg" class="img" draggable="false">
            </li>
        </ul>
    </div>


    <div class="login-area" id="loginPanel">
        <div class="la-logo-sel">
            <div class="la-logo-sel-tea tea-active" id="T"></div>
            <div class="la-logo-sel-stu" id="S"></div>
            <div class="la-logo-sel-pro" id="P"></div>
        </div>
        <div class="la-logo-tab">
            <div class="la-logo"><img src="~/Content/Img/Logo.png" /></div>
           
        </div>
        <form method="post" action="/Home/ToLogin"  class="form-signin middle" id="fm1">
            <input type="hidden" value="1" name="inputUserType" id="inputUserType" />

            <div class="loginFormIpt">
                <span class="icoipt ico-userid"></span><span class="vertical_line"></span>
                <input type="text" value="" style="height:26px;" class="pass-text-input" name="inputUserCode" id="inputUserCode" placeholder="姓名或代码">
            </div>
            <div class="loginFormIpt">
                <span class="icoipt ico-pwd"></span><span class="vertical_line"></span>
                <input type="password" value="" style="height:26px;" class="pass-text-input" name="inputPassword" id="inputPassword" placeholder="密码">
            </div>
            <div class="loginFormValidate-none">
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="la-logo-foot">
                <button class="loginFormbtn" type="submit" onclick="return submitLogin()" id="login">登录</button>
            </div>
        </form>

    </div>

    <div class="login-foot">
        东方博冠（北京）科技有限公司 版权所有 ©2016-2020
    </div>
</body>
</html>