@import url('/Content/css/font-awesome.min.css');
@import url('/Content/css/jquery.ui.css');
@import url('/Content/css/animate.min.css');
/*登录页面样式*/
.loginpage { background-image: url('/content/xinjiemian/beijing.jpg'); }

.loginpanel { height: 682px; left: 50%; position: absolute; top: 50%; width: 424px; }

.loginfooter { bottom: 0; color: rgba(255, 255, 255, 0.5); font-family: arial,sans-serif !important; font-size: 11px; left: 0; padding: 5px 0; position: fixed; text-align: center; width: 100%; }

.loginpanelinner { left: -50%; position: relative; top: -150px; }


/*模版页*/
/*logo 部分*/
.body { background: #eff5f9 repeat-y 0 0; font-size: 12px; overflow: hidden; font-family: 'RobotoRegular', 'Helvetica Neue', Helvetica, sans-serif; }

.header { clear: both; height: 110px; overflow: hidden; position: absolute; top: 0px; left: 0px; width: 100%; z-index: 99; }

    .header .headerinner { background-color: #0ca3d2; overflow: hidden; }

/*头部菜单*/


.headmenu > li > a { width: 56px; position: relative; display: block; color: #fff; padding: 25px 12px 9px 12px; cursor: pointer; }

    .headmenu > li > a span { width: 56px; text-align: center; display: block; }

.headmenu > li.right { float: right; width: 143px; }

.headmenu > li > a:hover { text-decoration: none; }

.headmenu > li > a .headmenu-label { display: block; color: white; margin: 2px 0 3px 0; text-align: center; }

.headmenu > li { display: inline-block; float: right; width: 70px; font-size: 14px; position: relative; }

.headmenu { list-style: none outside none; list-style: none; }
.vyQHNyb { height: 34px; padding-left: 200px; position: relative; width: auto; }

    .vyQHNyb .cMEMEF { color: #fff; display: inline-block; font-size: 16px; height: 27px; line-height: 20px; margin: 2px 25px; position: relative; vertical-align: middle; }
        .vyQHNyb .cMEMEF a { color: #424e67;line-height: 24px; }
    .vyQHNyb .wGMtMgb a { color: #3b8cff; }
    .vyQHNyb .wGMtMgb .gICyHO { background: #fff none repeat scroll 0 0; border-radius: 5px; bottom: 0; display: block; height: 4px; left: 0; position: absolute; width: 100%; }
    .vyQHNyb .wGMtMgb .gICyHO { background: #3b8cff none repeat scroll 0 0; }
.dropdown-menu:after { border-bottom: 6px solid #FFFFFF; border-left: 6px solid rgba(0, 0, 0, 0); border-right: 6px solid rgba(0, 0, 0, 0); content: ""; display: inline-block; left: 45px; position: absolute; top: -6px; }

.dropdown-menu { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-image: none; border-color: #0866C6; border-right: 2px solid #0866C6; border-style: none solid solid; border-width: 0 2px 2px; margin: 0; border-radius: 0; background-clip: padding-box; background-color: #FFFFFF; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); display: none; float: left; left: 0; list-style: none outside none; min-width: 160px; padding: 5px 0; position: absolute; top: 100%; z-index: 1000; border: 1px solid rgba(0, 0, 0, 0.2); }


    .dropdown-menu > li > a { color: #444444; font-size: 12px; margin: 0 5px; padding: 5px 10px; clear: both; display: block; font-weight: normal; line-height: 20px; white-space: nowrap; }

.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a { background: #333; }

.conent { position: absolute; top: 110px; left: 0px; width: 100%; }
/*右侧个人信息*/

.userloggedinfo { color: #fff; }
    .userloggedinfo img { padding: 3px; background: rgba(255,255,255,0.2); width: 80px; float: left; }
    .userloggedinfo .userinfo { float: left; margin-left: 10px; margin-top:5px; }
        .userloggedinfo .userinfo small { font-size: 11px; opacity: 0.6; color: #fff; font-family: sans-serif; font-style: italic; }
    .userloggedinfo ul { list-style: none; margin-top: 5px; }
        .userloggedinfo ul li { display: block; font-size: 11px; line-height: normal; margin-bottom: 1px; }
            .userloggedinfo ul li a { padding: 4px 15px 3px 15px; color: #fff; line-height: normal; background: rgba(255,255,255,0.1); display: block; }
                .userloggedinfo ul li a:hover { text-decoration: none; background: rgba(255,255,255,0.2); }

.no-borderradius .userloggedinfo .userinfo { float: none; margin-left: 92px; }
/*** 底部 ***/

.footer { font-size: 11px; text-align: center; color: #fff; height: 30px; line-height: 30px; overflow: hidden; clear: both; bottom: 0; left: 0px; width: 100%; position: fixed; background: #0ca3d2; }
    .footer span a { color: #fff; }

/* 菜单导航*/

.leftpanel { float: left; width: 199px; position: absolute; left: 0px; top: 0px; }

.nav { list-style: none outside none; margin-bottom: 20px; margin-left: 0; }

.nav-stacked > li { float: none; }

.nav-header { list-style: outside none none; }

    .nav-header > .dygbw9Bp { display: block; font-size: 14px; height: 40px; line-height: 40px; color: #424e67; padding: 0 0 0 15px; position: relative; text-decoration: none; }

.ojJ55A > a { background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0; }
.ojJ55A span, .ojJ55A a { color: #3b8cff; }

.nav-header > .dygbw9Bp > .text { cursor: pointer; display: block; height: 40px; padding-left: 38px; position: relative; width: 115px; }
.dygbw9Bp > .text .icon { font-size: 16px; left: 10px; display: block; position: absolute; top: 12px; }

/*** 主界面  mian***/
/*** 导航部分 ***/
body.errorpage { background: #fff /*url(/Content/xinjiemian/bg1.png)*/; }

.rightpanel { position: relative; background-color: #fff; border-left: 1px solid #c3cffb; border-right: 1px solid #c3cffb; border-top: 1px solid #c3cffb; margin-left: 199px; border-top-left-radius: 5px; border-top-right-radius: 5px; }

    .rightpanel:after { clear: both; content: ''; display: block; }

.dropdown-menu.pull-right { left: auto; right: 0; }

    .dropdown-menu.pull-right:after { border: 0px; display: inline-block; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a { background: #333; color: #fff; }

.pull-right { float: right; }

/* 导航内容  系统导航 左侧*/
.maincontent { float: left; width: 100%; }

.maincontentinner { padding: 20px; }

.row-fluid:before, .row-fluid:after { content: ""; display: table; line-height: 0; overflow: hidden; clear: both; }

.row-fluid { width: 100%; clear: both; }

    .row-fluid .span8 { width: 65.812%; box-sizing: border-box; display: block; float: left; min-height: 30px; clear: both; }

.subtitle { text-transform: uppercase; font-size: 11px; color: #999; margin-bottom: 5px; }

.subtitle2 { font-size: 13px; text-transform: uppercase; color: #333; margin-bottom: 5px; }

.shortcuts { list-style: none; margin-top: 20px; overflow: hidden; clear: both; }

    .shortcuts li { display: inline-block; float: left; margin: 0 5px 5px 0; position: relative; }

        .shortcuts li a { display: block; width: 130px; height: 130px; background: #5abdee; color: #fff; font-size: 16px; }

            .shortcuts li a:hover { background: #282828; text-decoration: none; }

        .shortcuts li .shortcuts-label { display: block; padding: 0 12px; }

        .shortcuts li .shortcuts-icon { display: block; width: 48px; height: 48px; padding: 30px 0 20px 0; margin: 0 auto; }

        .shortcuts li .iconsi-event { background: url(/Content/xinjiemian/icons/icon-event.png) no-repeat center center; }

        .shortcuts li .iconsi-cart { background: url(/Content/xinjiemian/icons/icon-cart.png) no-repeat center center; }

        .shortcuts li .iconsi-archive { background: url(/Content/xinjiemian/icons/icon-archive.png) no-repeat center center; }

        .shortcuts li .iconsi-help { background: url(/Content/xinjiemian/icons/icon-help.png) no-repeat center center; }

        .shortcuts li .iconsi-images { background: url(/Content/xinjiemian/icons/icon-images.png) no-repeat center center; }




.db-inline { display: inline-block; float: left; }

 .dataTables_info { background: none repeat scroll 0 0 #FFFFFF /*EEEEEE*/; font-size: 12px; overflow: hidden; padding: 12px; position: relative; }
 
.dataTables_paginate .first, .dataTables_paginate .previous, .dataTables_paginate .paginate_active, .dataTables_paginate .paginate_button, .dataTables_paginate .next, .dataTables_paginate .last { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: none repeat scroll 0 0 #EEEEEE; border-color: #CCCCCC #CCCCCC #CCCCCC; border-image: none; border-style: solid solid solid none; border-width: 1px 1px 1px 0; cursor: pointer; font-size: 11px; }

.dataTables_paginate { bottom: 10px; list-style: none; position: absolute; right: 10px; }

    .dataTables_paginate li { float: left; display: inline-block; list-style: none; }

    .dataTables_paginate .NoNothink { width: 62px; text-align: center; height: 27px; }

    .dataTables_paginate .NoNothink2 { width: 60px; display: inline-block; height: 25px; line-height: 25px; }

    .dataTables_paginate .paginate_button_disabled { background: none repeat scroll 0 0 #EEEEEE; color: #CCCCCC; cursor: default; }

    .dataTables_paginate .first { border-left: 1px solid #CCCCCC; }

    .dataTables_paginate .paginate_active { background: none repeat scroll 0 0 #FFFFFF; width: 20px; text-align: center; display: inline-block; height: 25px; line-height: 25px; }

    .dataTables_paginate a { color: #666666; }
#articles a { color: rgb(0,102,204); background-color: transparent; text-decoration: underline; }

    #articles a:hover { text-decoration: none; }

    #articles a[disabled] { color: #cccccc; }

.iconsweets { background-image: url("/Content/xinjiemian/iconsweets-icons.png"); background-position: -16px -16px; background-repeat: no-repeat; display: inline-block; height: 16px; vertical-align: middle; width: 16px; }

.iconswet { background-image: url("/Content/xinjiemian/iconsweets-icons-white.png"); background-position: -16px -16px; background-repeat: no-repeat; display: inline-block; height: 16px; vertical-align: middle; width: 16px; }
.trashcan { background-position: -48px -16px; }
.folder { background-position: -16px -208px; }
.link { background-position: -144px -48px; }


.b-panel { left: 0; position: absolute; top: 0; bottom: 0px; right: 0; z-index: 899;opacity: 0.6 !important;filter:alpha(opacity=60); background-color: #313131; display: none; }
.module { background: #1f1f1f none repeat scroll 0 0; border: 0 none; position: absolute; color: #999; display: none; font-size: 12px; font-weight: 700; overflow: hidden; z-index: 1000; left: 0px; top: 0px; bottom: 0px; right: 0px; min-width: 1024px; }

#popup_overlay { position: absolute; z-index: 99998; display: none; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; background: none repeat scroll 0% 0% #313131 !important; opacity: 0.6 !important;filter:alpha(opacity=60); }
#popup_overlay2 { position: absolute; z-index: 99998; display: none; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; background: none repeat scroll 0% 0% #313131 !important; opacity: 0.6 !important;filter:alpha(opacity=60); }
#popup_container { position: fixed; z-index: 99999; padding: 0px; display: none; margin: 0px; min-width: 300px; max-height :520px; }
#popup_container2 { position: fixed; z-index: 99999; padding: 0px; display: none; margin: 0px; min-width: 300px; max-height :520px; }
.widgettitle { background: #0ca3d2 none repeat scroll 0 0;   color: #fff; cursor: pointer; font-size: 14px; padding: 12px 15px; }
.widgetcontent {  background-color:#fff;  border:1px solid #b4cdec;border-top:0px; padding: 15px 12px; }


input[type="button"] { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #20a2da; border-image: none; border-radius: 9px; border-style: solid; box-shadow: none; color: #fff; cursor: pointer; display: inline-block; font-size: 12px; height: 30px; line-height: 10px; margin: 3px; padding: 0px; text-align: center; text-shadow: none; vertical-align: middle; width: 64px; border:0px; }

.module-tip { background: #f9edbe none repeat scroll 0 0; border: 1px solid #f7d997; border-radius: 2px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); color: #7b6a51; font-family: "Microsoft YaHei",SimSun; max-height: 27px; padding: 0 10px; position: fixed; z-index: 95; }
.module-tip { background-color: #faf0cd; border: 1px solid #f3e041; border-radius: 4px; box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); color: #666; margin-top: 8px; max-height: 27px; }

    .module-tip .tip-icon { margin-top: 7px; }

    .module-tip .tip-icon { background: url("/Content/Img/tip_95a4cb0.png") no-repeat scroll 0 0; display: inline-block; height: 100px; margin: 2px 5px 0 0; width: 20px; }
    .module-tip .tip-icon-caution { background-position: -40px 0; }
    .module-tip .tip-msg { line-height: 37px; max-width: 450px; }
    .module-tip .tip-msg { display: block; line-height: 27px; max-width: 400px; min-width: 1px; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; }
    .module-tip .tip-msg, .module-tip .tip-icon, .module-tip .tip-close { display: block; float: left; }
    .module-tip .tip-icon-loading { background: rgba(0, 0, 0, 0) url("/Content/Img/loading_7ad8ea6.gif") no-repeat scroll 50% 3px; }

    
.icon-fullscreen1 { background-position: -176px -720px; background-image: url("/Content/xinjiemian/iconsweets-icons.png"); background-repeat: no-repeat; display: inline-block; height: 16px; vertical-align: middle; width: 16px; float: right; text-decoration: underline; cursor: pointer; position: absolute; right: 15px; top: 10px; z-index: 9999; }

.btn { margin-right: 3px; color: #fff; border-color: #62baec; box-shadow: none; display: inline-block; background: none repeat scroll 0 0 #62baec; padding: 3px 8px; text-shadow: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-image: none; border-style: solid; border-width: 1px; cursor: pointer; text-align: center; vertical-align: middle; }
.goto { margin: 0px; padding: 0px; height: 27px; text-align: center; }
.controls2 {overflow:hidden; float:left; width:76%}
    .controls2 .lingDiv {  display:inline-block;min-width:10px; max-width:500px; float:left;margin-right:20px; }
.controls2 label { padding:0px; text-align:left; display:inline-block; cursor:pointer; }
.controls2 input[type='radio'] { display:inline-block; vertical-align:middle; padding-left:0px; border:0; margin:0px; cursor:pointer; }
.par { margin: 10px 0; overflow:hidden;height:22px; line-height:22px;  font-size:14px;}
.par2 { margin: 10px 0;  line-height:22px;  font-size:14px;}
.par3 { padding: 10px 0;  line-height:22px;  font-size:14px;}
.TextArea1 { height:100px; width: 400px; border: 1px solid #c8dcef; font-size:12px;}
.input1 { width: 400px; border: 1px solid #c8dcef; }
 .label-left { float: left; padding: 0px 20px 0 0; text-align: right; width: 100px; display: block; cursor: pointer; }
.ui-draggable {border-radius:5px;overflow:hidden;}
.userGroup { position:relative; margin:5px; float:left; width:68px;}
.userGroup2 { position:relative; float:left; width:70px; margin-bottom:5px; margin-right :5px;}
.userGroup span,.userGroup2 span{ position:absolute; right:-6px; top:-6px; width:15px; height:15px; display:block;}
.userGroup span img,.userGroup2 span img{ display:block; }