@font-face { font-family: yunfont; src: url(/Content/fonts/fontawesome/yunfont.eot?t=1496300303591?fo24w5); src: url(/Content/fonts/fontawesome/yunfont.eot?t=1496300303591?fo24w5#iefix) format('embedded-opentype'),url(/Content/fonts/fontawesome/yunfont.ttf) format('truetype'),url(/Content/fonts/fontawesome/yunfont.woff?t=1496300303591?fo24w5) format('woff'),url(/Content/fonts/fontawesome/yunfont.svg?t=1496300303591?fo24w5#yunfont) format('svg'); font-weight: 400; font-style: normal; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body, button, input, select, textarea { color: #666; font: 12px/1.5 "Microsoft YaHei",tahoma,arial,"宋体"; }
ul { list-style: outside none none; }
li { list-style: outside none none; }
a { color: #06c; text-decoration: none; }
.module-timeline-tabs { background: #fff none repeat scroll 0 0; margin-top: -3px; padding: 18px 0 17px 16px; position: relative; }
.main-content .module-timeline-tabs { margin-top: -4px; }
.global-clearfix::after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
.clearfix:after { content: "\20"; display: block; height: 0; line-height: 0; font-size: 0; clear: both; }
.module-timeline-tabs li { border: 1px solid #c4dcff; float: left; margin-left: -1px; text-align: center; width: 90px; }
    .module-timeline-tabs li:first-child { border-bottom-left-radius: 5px; border-top-left-radius: 5px; }
.module-timeline-tabs .selected { background: #3b8cff none repeat scroll 0 0; border: 1px solid #3b8cff; }
.module-timeline-tabs li a { color: #629eff; display: block; font-size: 14px; height: 32px; line-height: 32px; outline: 0 none; text-decoration: none; }
.module-timeline-tabs .selected a { color: #fff; }

.module-timeline-tabs li a { color: #629eff; display: block; font-size: 14px; height: 32px; line-height: 32px; outline: 0 none; text-decoration: none; }

.module-timeline-tabs li:last-child { border-bottom-right-radius: 5px; border-top-right-radius: 5px; }
.module-timeline-tabs li { border: 1px solid #c4dcff; float: left; margin-left: -1px; text-align: center; width: 90px; }
.module-timetree { background: #fff none repeat scroll 0 0; font-size: 12px; overflow: hidden; position: absolute; right: 20px; top: 100px; width: 91px; z-index: 3; }
.module-timetree { top: 65px !important; }
    .module-timetree.bottom-more { background: #fff url("/Content/Img/dotted-bg_0e0763a.png") repeat-y scroll 0 0; padding-bottom: 20px; }
    .module-timetree .scroller { height: 468px; overflow: hidden; padding-left: 4px; }
    .module-timetree .container { border-left: 2px dotted #fff; font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }
    .module-timetree .name { border-left: 2px solid #d6d6d6; color: #8e99b3; cursor: pointer; font-size: 14px; height: 23.2px; line-height: 23.2px; margin-left: -6px; text-indent: 10px; width: 54px; }
    .module-timetree .open .currenting { background: #3b8cff none repeat scroll 0 0; border-bottom-right-radius: 10px; border-top-right-radius: 10px; color: #3b8cff; }
    .module-timetree .open .name { border-left: 2px solid #3b8cff; }
    .module-timetree .year-li .name { color: #8e99b3; }
    .module-timetree .open div.currenting, .module-timetree .open div.currenting.hover { color: #fff; }
    .module-timetree .month { display: none; }
    .module-timetree .open .month { display: block; }
    .module-timetree .month .name.current { background: #f2f7ff none repeat scroll 0 0; border-bottom-right-radius: 10px; border-top-right-radius: 10px; color: #3b8cff; }

.empty-time { position: relative; }
.module-timeline { color: #a4acc2; height: 400px; margin: 0 0 0 15px; overflow-x: hidden; overflow-y: auto; padding-right: 120px; position: relative; }
#main-timeline { height: 529px; }
.module-timeline .timeline-item { overflow: hidden; position: relative; }
.timeline-title { background: #f2f6fd none repeat scroll 0 0; cursor: pointer; display: block; height: 46px; line-height: 46px; margin: 0 10px 10px 0; position: relative; }

    .timeline-title .timeline-day { color: #4e94ff; float: left; font-size: 14px; padding-left: 15px; }

.global-icon-down { background: rgba(0, 0, 0, 0) url("/Content/Img/global-icon.png?t=1495651144787") no-repeat scroll -11px -8px; display: block; float: left; height: 12px; margin: 17px 5px 0; width: 16px; }

.timeline-title .timeline-days-num { float: left; }

.timeline-checkall { cursor: default; display: inline; float: right; margin-right: 25px; position: absolute; top: 0px; right: 0px; }
.global-icon { background: rgba(0, 0, 0, 0) url("/Content/Img/btn_icon.gif?t=1495651144787") no-repeat scroll 0 0; display: inline-block; }
.global-icon-checkbox { font-size: 0; height: 14px; line-height: 14px; width: 14px; }

.timeline-item .global-icon-checkbox, .timeline-item .alloff .timeline-title .global-icon-checkbox { background: rgba(0, 0, 0, 0) url("/Content/Img/checkbox.png?t=1495651144787") no-repeat scroll 0 0; float: left; margin-top: 16px; }
.icon { font-family: yunfont !important; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1; text-transform: none; }

.timeline-checkall span.icon { color: #3b8cff; display: none; }
.timeline-checkall label { padding-left: 5px; }
.module-timeline .timeline-content { padding-bottom: 5px; overflow:hidden; }
.list-content { position: relative; z-index: 1; }

    .list-content .content-item { position: relative; }
    .list-content .content-item, .list-content .content-item-more, .list-content .content-item-loading, .list-content .content-item-empty { background-color: #fff; display: block; float: left; height: 128px; line-height: 128px; margin: 0 5px 5px 0; outline: 0 none; overflow: hidden; text-align: center; width: 128px; }
fieldset, img { border: 0 none; }
.list-content .content-item .img { left: 0; position: absolute; text-align: center; top: 0; visibility: hidden; }
.list-content .content-item .thumb-large, .list-content .alloff .content .content-item .thumb-large { display: none; }
.list-content .content-item .thumb-large { border: 2px solid #3b8cff; cursor: pointer; height: 124px; left: 0; position: absolute; top: 0; width: 124px; z-index: 2; }

.module-timeline .timeline-content .timeline-content-item .thumb-large, .module-timeline .alloff .timeline-content .timeline-content-item .thumb-large { display: none; }
.timeline-content .item-active .thumb-large, .module-timeline .alloff .timeline-content .item-active .thumb-large { display: block; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: 400; }

.list-content .content-item .thumb-large .checkbox-item { cursor: pointer; display: none; height: 21px; left: 4px; position: absolute; top: 4px; width: 21px; }
.list-content .item-active .thumb-large .checkbox-item { display: block; }
.list-content .thumb-large .checkbox-item .icon { color: #3b8cff; font-size: 20px; left: 0; position: absolute; }

.list-content .thumb-large .checkbox-item .circle-icon { color: #fff; font-size: 19px; margin: 0.5px; }

.module-timeline .timeline-content .timeline-content-item:hover .thumb-large, .module-timeline .timeline-content .item-active .thumb-large, .module-timeline .timeline-content .active .thumb-large, .module-timeline .allon .timeline-content .thumb-large { display: block; }
.list-content .content-item:hover .thumb-large, .list-content .item-active .thumb-large, .list-content .active .thumb-large, .list-content .allon .content .thumb-large { display: block; }
.list-content .thumb-large:hover .checkbox-item { display: block; }
.list-content .thumb-large:hover .checkgridsmall { opacity: 0.4; }
.list-content .thumb-large .checkbox-item:hover .checkgridsmall { opacity: 0.5; }
.allon .list-content .thumb-large .checkbox-item .checkgridsmall, .list-content .item-active .thumb-large .checkbox-item:hover .checkgridsmall, .list-content .item-active .thumb-large .checkbox-item .checkgridsmall { opacity: 1; }
.module-operate-btn { display: none; margin: 0 145px 15px 15px; padding-top: 17px; position: relative; z-index: 2; }
.module-operate-btn { padding-top: 0 !important; }
.global-clearfix::after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: 400; }
.module-operate-btn span.operate-select-box { float: left; margin-top: 2px; padding-right: 5px; position: relative; cursor: pointer; }

.module-operate-btn em.select { background: rgba(0, 0, 0, 0) url("/Content/Img/checkbox.png") no-repeat scroll 0 0; cursor: pointer; display: inline-block; float: left; font-size: 0; height: 14px; line-height: 14px; margin: 9px 5px 0 2px; width: 14px; }
.module-operate-btn span.operate-select-box em.icon { color: #3b8cff; /*display: none;*/ left: 2px; position: absolute; top: 10px; }
.module-operate-btn .select-text { display: block; float: left; line-height: 35px; padding-right: 15px; }
.module-operate-btn em.number { color: #2e80dc; font-weight: 700; margin: 2px; }

.module-operate-btn .btn { border: 1px solid #c0d9fe; border-radius: 4px; color: #3b8cff; float: left; font-size: 12px; height: 34px; line-height: 34px; margin-right: 11px; margin-top: -4px; outline: 0 none; padding-left: 35px; position: relative; text-decoration: none; white-space: nowrap; }
.module-operate-btn a.btn { border-radius: 0; margin-left: -1px; margin-right: 0; }
    .module-operate-btn a.btn:nth-child(3) { border-bottom-left-radius: 4px; border-top-left-radius: 4px; }

.icon-share::before { content: "\e902"; }
.icon-download:before { content: "\e907"; }
.icon-delete:before { content: "\e903"; }
.module-operate-btn .btn .icon { cursor: pointer; font-size: 16px; height: 20px; left: 10px; line-height: 20px; position: absolute; text-align: center; top: 8px; width: 20px; }
.module-operate-btn .btn .icon-share { background-position: -159px -60px; }
.module-operate-btn .btn:hover { background-position: 0 -180px; color: #77afff; text-decoration: none; }

.module-operate-btn .btn b { cursor: pointer; display: block; font-weight: 100; height: 34px; line-height: 34px; padding-right: 10px; text-align: center; text-decoration: none; }
.module-operate-btn a.btn:last-child { border-bottom-right-radius: 4px; border-top-right-radius: 4px; }
.global-icon-up { background-position: -11px -26px; }

.on .global-icon-checkbox { background: rgba(0, 0, 0, 0) url("/Content/Img/checkbox.png?t=1495651144787") no-repeat scroll -40px -0px; }
.aGMvFtb { display: block; height: 100%; margin: 0; min-height: 400px; overflow-x: hidden; overflow-y: auto; position: relative; text-align: left; }
.hqvyGW05 { color: #999; font-size: 14px; font-weight: 700; padding: 10px 0; text-align: center; }

.aGMvFtb .wegnv3JM { background: transparent url("/Content/Img/emptyfile_intro_711933a.png") no-repeat scroll center 0; left: 50%; margin: -190px 0 0 -244px; padding-top: 146px; position: absolute; text-align: center; top: 50%; width: 488px; }

.aGMvFtb .ggEQwFb { color: #424e67; font-weight: 200; margin: 20px 0; }

    .aGMvFtb .ggEQwFb .cjujvy90 { cursor: pointer; margin: 0 5px; position: relative; }
    .aGMvFtb .ggEQwFb span { color: #3b8cff; }
