div { display: block; }
@font-face { font-family: yunfont; src: url(/Content/fonts/fontawesome/yunfont.eot?t=1496300303591?fo24w5); src: url(/Content/fonts/fontawesome/yunfont.eot?t=1496300303591?fo24w5#iefix) format('embedded-opentype'),url(/Content/fonts/fontawesome/yunfont.ttf) format('truetype'),url(/Content/fonts/fontawesome/yunfont.woff?t=1496300303591?fo24w5) format('woff'),url(/Content/fonts/fontawesome/yunfont.svg?t=1496300303591?fo24w5#yunfont) format('svg'); font-weight: 400; font-style: normal; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, textarea, select, optgroup, option, fieldset, legend, p, blockquote, th, td { margin: 0; padding: 0; }
.dialog .dialog-drag { cursor: move; }
.dialog-min-header, .dialog-header { position: relative; color: #333; border-bottom: 1px solid #ced1d9; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; }
.dialog-min-header, .dialog-header { background-color: #f7faff; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom: 1px solid #c4dbfe; height: 44px; line-height: 44px; font-weight: 200; }
h3 { display: block; font-size: 1.17em; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; font-weight: bold; }
.dialog-min-header h3, .dialog-header h3 { position: relative; display: block; height: 42px; line-height: 42px; text-indent: 1em; font-size: 14px; font-weight: 700; color: #4d4d4d; }

.dialog-min-header h3, .dialog-header h3 { color: #424e67; }
.dialog-header-title { display: block; margin-right: 50px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    .dialog-header-title em { font-style: normal; cursor: text; font-weight: 200; }
    .dialog-header-title .select-text { font-style: normal; cursor: text; }
.dialog-min-header .select-text, .dialog-header .select-text { -webkit-user-select: initial; -khtml-user-select: initial; -moz-user-select: initial; -ms-user-select: initial; -o-user-select: initial; user-select: initial; }
.dialog-control { position: absolute; right: 10px; top: 10px; height: 20px; }
.dialog-control { top: 13px; right: 12px; }
.icon { font-family: yunfont !important; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.dialog-icon { height: 20px; width: 20px; line-height: 20px; font-size: 20px; color: #a4a9b3; }
.dialog-close { background-position: 0 0; }
.dialog-control .icon { font-size: 12px; text-align: center; line-height: 20px; color: #5f7094; margin: 0 2px; }
.dialog-control span { cursor: pointer; float: right; }
.icon-close:before { content: "\e92b"; }
.dialog-control .icon .sicon { display: none; font-size: 14px; cursor: pointer; float: right; text-align: center; line-height: 20px; color: #5f7094; }
.dialog { position: fixed; _position: absolute; border: 1px solid #ced1d9; background: #fff; box-shadow: 0 0 3px #ced1d9; -webkit-transtion: bottom .1s; border-radius: 4px; display: none; font-family: 'Microsoft YaHei',SimSun; _overflow-x: hidden; }
    .dialog .dialog-body { background: 0 0; }
    .dialog .dialog-body { background: #fff; line-height: 24px; }
.alert-dialog-asyn-view .dialog-asyn-view { text-align: left; padding: 22px; }
h4 { display: block; -webkit-margin-before: 1.33em; -webkit-margin-after: 1.33em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; font-weight: bold; }

.alert-dialog-asyn-view .dialog-asyn-view h4 { font-size: 14px; font-weight: 200; color: #424e67; text-align: center; }
.alert-dialog-asyn-view .dialog-asyn-view .asyn-view-content, .alert-dialog-asyn-view .dialog-asyn-view .asyn-view-checkbox { background: #f7f7f7; color: #424e67; }
.alert-dialog-asyn-view .dialog-asyn-view .asyn-view-content { padding: 0 15px; font-size: 14px; padding-bottom: 15px; margin-top: 15px; }
.alert-dialog-asyn-view .asyn-view-content-item { padding-top: 17px; }
    .alert-dialog-asyn-view .asyn-view-content-item .asyn-view-tip-msg { display: block; font-size: 14px; padding-bottom: 5px; }
    .alert-dialog-asyn-view .asyn-view-content-item .asyn-view-tip-info { position: relative; }
    .alert-dialog-asyn-view .asyn-view-content-item .asyn-view-tip-icon { position: absolute; top: 4px; left: 0; }
.global-icon-16-dir { background-position: -5px -3px; }
.global-icon-16 { display: inline-block; width: 26px; height: 22px; background: url(/Content/Img/icons/sprite_list_icon.gif) 9999px 9999px no-repeat; background-position: 0px -3px; }
.alert-dialog-asyn-view .asyn-view-content-item .asyn-view-tip-name { padding-left: 33px; }
.alert-dialog-asyn-view .asyn-view-content-item .asyn-view-tip-date { padding-left: 33px; }
.alert-dialog-asyn-view .dialog-asyn-view .asyn-view-content, .alert-dialog-asyn-view .dialog-asyn-view .asyn-view-checkbox { background: #f7f7f7; color: #424e67; }
.alert-dialog-asyn-view .dialog-asyn-view .asyn-view-checkbox {
    margin-top: 10px;
    position: relative;
    padding: 10px;
    font-size: 14px;
    padding-left: 36px;
    cursor: pointer;
}
.alert-dialog-asyn-view .dialog-asyn-view .asyn-view-checkbox .global-icon-checkbox {
    position: absolute;
    left: 15px;
    top: 15px;
    _left: -20px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 0;
    zoom: 1;
    display: inline-block;
    background: url(/Content/img/btn_icon.gif) no-repeat;
    background-position: -113px 0;
}
.alert-dialog-asyn-view .dialog-asyn-view .asyn-view-checkbox .asyn-red {
    color: #d21513;
}
.dialog .dialog-footer {
    padding-bottom: 15px;text-align: center;
}
.global-clearfix, .g-clearfix {
    zoom: 1;
}
.g-button {
    position: relative;
    display: inline-block;
    height: 30px;
    margin: 0 5px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 30px;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid #d4d4d4;
    color: #666;
    outline: 0;
    border-radius: 2px;
}
.g-button-blue-large {
    height: 37px;
    font-size: 14px;
    line-height: 34px;
    background-color: #478de4;
    border: 1px solid #478de4;
}
.g-button {
    text-decoration: none;
    color: #3b8cff;
    border: 1px solid #c0d9fe;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}.g-button-large, .g-button-blue-large {
    padding-left: 10px;
    height: 32px;
}
 .g-button-blue-large {
    border: 1px solid #3b8cff;
    background: #3b8cff;
}
 .g-button:link, .g-button:visited {
    color: #3b8cff;
}.g-button-right {
    position: relative;
    right: -1px;
    display: block;
    height: 29px;
    padding-right: 15px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
}
 .g-button-right {
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
}
 .g-button-large .g-button-right, .g-button-blue-large .g-button-right {
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
}
 .g-button .text {
    display: inline-block;
    vertical-align: middle;
}
 .g-button .text {
    font-size: 13px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: baseline;
}
 .g-button-large .text, .g-button-blue-large .text {
    height: 32px;
    line-height: 32px;
}
 .g-button-blue-large .g-button-right .text, .g-button-blue-large:hover .g-button-right .text, .g-button-blue-large:active .g-button-right .text {
    color: #fff;
}