.module-picPreview { z-index: 1000; font-size: 12px; font-weight: 700; color: #999; display: block; overflow: hidden; background: #1f1f1f; border: 0; }
    .module-picPreview .dlg-hd { z-index: 100000; position: absolute; right: 0; top: 0; width: 60px; height: 60px; background-color: transparent; border-bottom: 0; border-radius: 0; }
        .module-picPreview .dlg-hd .dlg-img-ic { width: 60px; height: 60px; cursor: pointer; display: block; background: url(/Content/Img/img_preview_ic.png?t=1497328293331) 0 -189px no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -186px -114px no-repeat; }
            .module-picPreview .dlg-hd .dlg-img-ic:hover { background-position: -390px -105px; }
            .module-picPreview .dlg-hd .dlg-img-ic:active { background-position: -66px -189px; }
    .module-picPreview .dlg-bd { float: left; height: 100%; overflow: hidden; }
    .module-picPreview .dlg-aside { height: 100%; position: absolute; top: 0; right: 0; }
    .module-picPreview .aside { float: right; }
.module-picPreviewAside { height: 100%; position: relative; width: 253px; overflow: visible !important; }
    .module-picPreviewAside .box, .module-picPreviewAside .retract { background-color: #161616; }
    .module-picPreviewAside .retract { width: 31px; height: 100px; background-color: #161616; cursor: pointer; position: absolute; overflow: visible; top: 105px; left: -31px; }
        .module-picPreviewAside .retract .retract-icon { float: left; width: 12px; height: 19px; background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -139px -205px no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -139px -205px no-repeat; margin: 40px 0 0 11px; display: inline; }
        .module-picPreviewAside .retract:hover .retract-icon { background-position: -189px -229px; }
        .module-picPreviewAside .retract:active .retract-icon { background-position: -206px -205px; }
    .module-picPreviewAside .retract-icon-hide .retract-icon { background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -157px -205px no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -157px -205px no-repeat; }
    .module-picPreviewAside .retract-icon-hide:hover .retract-icon { background-position: -157px -229px; }
    .module-picPreviewAside .retract-icon-hide:active .retract-icon { background-position: -184px -205px; }
    .module-picPreviewAside .box { width: 253px; height: 800px; font-family: "宋体",sans-serif; color: #cdcdcd; font-size: 12px; height: 100%; font-weight: 400; }
        .module-picPreviewAside .box .file-info { line-height: 20px; list-style-type: none; padding: 60px 0 0 10px; width: 216px; margin: 0 0 18px 15px; }
        .module-picPreviewAside .box .position, .module-picPreviewAside .box .date, .module-picPreviewAside .box .directory { color: #999; *white-space: nowrap; }
        .module-picPreviewAside .box .date { clear: both; *zoom: 1; display: table; }
        .module-picPreviewAside .box .classify-tit, .module-picPreviewAside .box .editor-icon, .module-picPreviewAside .box .editor-name { float: left; }

.box .file-info .title { width: 173px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.module-showPic { margin: 10px 60px 15px; position: relative; overflow: hidden; }
    .module-showPic .img-wrap { vertical-align: middle; text-align: center; height: 100%; width: 100%; overflow: hidden; position: relative; z-index: 1; }
    .module-showPic #viewpic-image { vertical-align: middle; outline: 0; border: 0; opacity: 1; position: absolute; overflow: hidden; z-index: 1;cursor:pointer; }
    .module-showPic .rotate { transition: transform .2s linear; -webkit-transition: -webkit-transform .2s linear; -moz-transition: -moz-transform .2s linear; -o-transition: -o-transform .2s linear; -ms-transition: -ms-transform .2s linear; }
    .module-showPic .picRotate0 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); }
    .module-showPic .picRotate1 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
    .module-showPic .picRotate2 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }
    .module-showPic .picRotate3 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
    .module-showPic .picRotate4 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); }
    .module-showPic .img-nav { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 10; }
    .module-showPic .img-nav-left, .module-showPic .img-nav-right { width: 49%; height: 100%; display: block; position: relative; z-index: 10; outline: 0; _background: 0 0; display: none; }
    .module-showPic .img-nav-left { float: left; z-index: 10; cursor: pointer; }
    .module-showPic .img-nav-right { float: right; cursor: pointer; }
    .module-showPic .pre-arrow, .module-showPic .next-arrow { position: absolute; background: url(/Content/Img/img_preview_ic.png?t=1497328293331) 0 0 no-repeat; height: 70px; width: 44px; top: 50%; left: 0; margin-top: -19px; }
    .module-showPic .pre-arrow { right: auto; left: 0; background-position: -258px -181px; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -258px -181px no-repeat; }
    .module-showPic .next-arrow { right: 0; left: auto; background-position: -493px -69px; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -220px -181px no-repeat; }
    .module-showPic .img-nav-left:hover .pre-arrow { background-position: -420px -176px; }
    .module-showPic .img-nav-left:active .pre-arrow { background-position: -471px -176px; }
    .module-showPic .img-nav-right:hover .next-arrow { background-position: -307px -176px; }
    .module-showPic .img-nav-right:active .next-arrow { background-position: -367px -176px; }
    .module-showPic .img-loader { width: 65px; height: 10px; position: absolute; top: 50%; left: 50%; margin-top: -5px; margin-left: -30px; z-index: 2; display: block; background: url(/yun-static/common/images/img_loading.gif) no-repeat 2px 2px; }
    .module-showPic .img-loading { text-align: center; line-height: 40px; }
.module-picPreviewAside .file-info .info-color { color: #999; }
.module-picPreviewAside .box .downloadText { color: #999; }
.module-picPreviewAside .box .directory .dir-name { color: #999; text-decoration: underline; float: right; *float: none; *display: inline-block; width: 144px; height: 18px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.module-picPreviewAside .box .directory .dir-name-span { color: #999; float: right; *float: none; *display: inline-block; width: 144px; height: 18px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.module-picPreviewAside .box .directory .dir-name:hover { color: #eaeaea; }
.module-picPreviewAside .box .directory .dir-name:active { color: #2e80dc; }

.module-thumbnailPic { margin: 0 auto; white-space: nowrap; overflow: hidden; z-index: 10; position: absolute; bottom: 0; }
    .module-thumbnailPic .thumb_bc { background-color: #000; opacity: 0.5; filter: alpha(opacity=50); position: absolute; z-index: 0; height: 43px; bottom: 0; left: 0; }
    .module-thumbnailPic .thumb-wrap { margin: 0 auto; height: 60px; overflow: hidden; position: relative; margin-top: 13px; display: none; }
    .module-thumbnailPic .thumb-list { position: absolute; height: 60px; left: 0; top: 0; overflow: hidden; }
    .module-thumbnailPic .thumb-nav-left, .module-thumbnailPic .thumb-nav-right { position: absolute; top: 0; width: 30px; display: block; height: 60px; }
    .module-thumbnailPic .thumb-nav-left { left: 0; }
    .module-thumbnailPic .thumb-nav-right { right: 0; }
    .module-thumbnailPic .pre-arrow, .module-thumbnailPic .next-arrow { position: absolute; background: url(/Content/Img/img_preview_ic.png?t=1497328293331) 0 0 no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) 0 0 no-repeat; height: 19px; width: 14px; top: 50%; left: 0; margin-top: -9px; }
    .module-thumbnailPic .next-arrow { right: 0; left: auto; background-position: 0 -404px; }
    .module-thumbnailPic .thumb-item { display: inline-block; *display: inline; *zoom: 1; width: 42px; height: 42px; margin-right: 10px; line-height: 42px; text-align: center; background: #fff; }
    .module-thumbnailPic .slider-item { display: block; width: 42px; height: 42px; }
    .module-thumbnailPic .current .slider-item, .module-thumbnailPic .thumb-item .slider-item:hover { border: 3px solid #2d81db; height: 36px; width: 36px; }
    .module-thumbnailPic .thumb-item .slider-item:hover { opacity: .7; }
    .module-thumbnailPic .thumb-pic { vertical-align: middle; max-width: 95%; max-height: 90%; }
    .module-thumbnailPic .operate-area { display: block; height: 38px; text-align: center; margin-top: 5px; text-align: center; zoom: 1; }
    .module-thumbnailPic .operate-container { display: inline-block; overflow: hidden; *display: inline; *zoom: 1; }
    .module-thumbnailPic .operate-area .large-pic, .module-thumbnailPic .operate-area .img-control, .module-thumbnailPic .operate-area .show-thumb, .module-thumbnailPic .operate-area .face-search { display: block; float: left; }
    .module-thumbnailPic .operate-area .img-control { height: 38px; position: relative; }
    .module-thumbnailPic .operate-area .control { display: block; cursor: pointer; background: url(/Content/Img/img_preview_ic.png?t=1497328293331) 0 0 no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) 0 0 no-repeat; float: left; margin: 0 8px; height: 38px; width: 30px; }
    .module-thumbnailPic .operate-area .control-left { background-position: -136px 7px; }
        .module-thumbnailPic .operate-area .control-left:hover { background-position: -136px -34px; }
        .module-thumbnailPic .operate-area .control-left:active { background-position: -136px -72px; }
    .module-thumbnailPic .operate-area .control-right { background-position: -179px 7px; }
        .module-thumbnailPic .operate-area .control-right:hover { background-position: -179px -34px; }
        .module-thumbnailPic .operate-area .control-right:active { background-position: -179px -72px; }
    .module-thumbnailPic .operate-area .control-share { background-position: -222px 7px; }
        .module-thumbnailPic .operate-area .control-share:hover { background-position: -222px -34px; }
        .module-thumbnailPic .operate-area .control-share:active { background-position: -222px -72px; }
    .module-thumbnailPic .operate-area .control-download { background-position: -263px 7px; }
        .module-thumbnailPic .operate-area .control-download:hover { background-position: -263px -34px; }
        .module-thumbnailPic .operate-area .control-download:active { background-position: -263px -72px; }
    .module-thumbnailPic .operate-area .control-delete { background-position: -348px 7px; }
        .module-thumbnailPic .operate-area .control-delete:hover { background-position: -348px -34px; }
        .module-thumbnailPic .operate-area .control-delete:active { background-position: -348px -72px; }
    .module-thumbnailPic .operate-area .face-search, .module-thumbnailPic .operate-area .large-pic, .module-thumbnailPic .operate-area .show-thumb { height: 38px; line-height: 38px; margin-right: 5px; border-radius: 4px; padding-left: 38px; position: relative; cursor: pointer; }
    .module-thumbnailPic .operate-area .show-thumb { width: 59px; *width: 101px; _width: 59px; }
    .module-thumbnailPic .operate-area .face-search { background: url(/Content/Img/img_preview_ic.png?t=201406250000) -267px -123px no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -267px -123px no-repeat; width: 93px; height: 30px; padding: 0; line-height: 30px; text-indent: 27px; margin-top: 3px; margin-right: -67px; margin-left: 27px; font-weight: 400; color: #b2b2b2; }

    .module-thumbnailPic .operate-area .show-thumb { width: 96px; height: 30px; padding: 0; background: url(/Content/Img/img_preview_ic.png?t=201406250000) -562px -9px no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -264px -122px no-repeat; text-indent: 21px; line-height: 30px; margin-top: 3px; }
        .module-thumbnailPic .operate-area .show-thumb:hover { background-position: -562px -41px; }
        .module-thumbnailPic .operate-area .show-thumb:active { background-position: -562px -76px; }
    .module-thumbnailPic .operate-area .magnify-icon, .module-thumbnailPic .operate-area .print-icon, .module-thumbnailPic .operate-area .show-icon, .module-thumbnailPic .operate-area .search-icon { background: url(/Content/Img/img_preview_ic.png?t=1497328293331) 0 0 no-repeat; _background: url(/Content/Img/img_preview_ic.png?t=1497328293331) -139px -205px no-repeat; width: 22px; height: 20px; position: absolute; left: 10px; top: 10px; }
    .module-thumbnailPic .operate-area .magnify-icon { top: 6px; }
    .module-thumbnailPic .operate-area .magnify-icon { background-position: -96px -2px; }
        .module-thumbnailPic .operate-area .magnify-icon:hover { background-position: -96px -43px; }
        .module-thumbnailPic .operate-area .magnify-icon:active { background-position: -96px -81px; }
    .module-thumbnailPic .operate-area .large-pic { height: 30px; margin: 3px 4px 0 0; }
    .module-thumbnailPic .operate-area .search-icon { background-position: -428px -4px; top: 5px; left: 10px; }
    .module-thumbnailPic .operate-area .print-icon { background-position: -11px -2px; top: 5px; left: 10px; }

    .module-thumbnailPic .face-search:hover .search-icon { background-position: -428px -39px; }
    .module-thumbnailPic .face-search:active .search-icon { background-position: -461px -5px; }

    .module-thumbnailPic .operate-area .show-icon { background-position: -398px -81px; height: 6px; top: 13px; }
    .module-thumbnailPic .show-thumb:hover .show-icon { background-position: -426px -82px; }
    .module-thumbnailPic .show-thumb:active .show-icon { background-position: -398px -117px; }
    .module-thumbnailPic .operate-area .show-thumb .show { background-position: -399px -9px; }
    .module-thumbnailPic .operate-area .show-thumb:hover .show { background-position: -427px -95px; }
    .module-thumbnailPic .operate-area .show-thumb:active .show { background-position: -399px -45px; }
    .module-thumbnailPic .operate-area .large-pic:hover .magnify-icon { }
    .module-thumbnailPic .operate-area .show { background-position: -562px -109px; }
        .module-thumbnailPic .operate-area .show:hover { background-position: -562px -142px; }
        .module-thumbnailPic .operate-area .show:active { background-position: -562px -177px; }
.transform { transition: all 0.4s ease-in-out 0s; }
.loading-container {
  
    left: 50%;
    margin: -30px 0 0 -30px;
    position: absolute;
    top: 50%;
    z-index: 100;
}
.loading-gif {
  
    left: 50%;
    margin: -30px 0 0 -30px;
    position: absolute;
    top: 50%;
    z-index: 100;
}
@keyframes rotator {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(270deg);
}
}
.spinner {
    animation: 1.4s linear 0s normal none infinite running rotator;
}
.path {
    animation: 1.4s ease-in-out 0s normal none infinite running dash;
    stroke: #4285f4;
    stroke-dasharray: 187;
    stroke-dashoffset: 50;
    transform-origin: center center 0;
}
@keyframes colors {
0% {
    stroke: #4285f4;
}
25% {
    stroke: #de3e35;
}
50% {
    stroke: #f7c223;
}
75% {
    stroke: #1b9a59;
}
100% {
    stroke: #4285f4;
}
}
@keyframes dash {
0% {
    stroke-dashoffset: 187;
}
50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
}
100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
}
}