@font-face { font-family: yunfont; src: url(/Content/fonts/fontawesome/yunfont.eot?t=1496300303591?fo24w5); src: url(/Content/fonts/fontawesome/yunfont.eot?t=1496300303591?fo24w5#iefix) format('embedded-opentype'),url(/Content/fonts/fontawesome/yunfont.ttf) format('truetype'),url(/Content/fonts/fontawesome/yunfont.woff?t=1496300303591?fo24w5) format('woff'),url(/Content/fonts/fontawesome/yunfont.svg?t=1496300303591?fo24w5#yunfont) format('svg'); font-weight: 400; font-style: normal; }
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, textarea, select, optgroup, option, fieldset, legend, p, blockquote, th, td, a { margin: 0; padding: 0; }
img { border: 0; }
body, button, input, select, textarea { color: #666; font: 12px/1.5 "Microsoft YaHei",arial,SimSun,"宋体"; }
.list-grid-switch { float: right; margin: 12px 18px 0 0; }

.module-toolbar { /*background: #f7f7f7 url("/Content/Img/icons/outer_bn2_c4848a0.gif") repeat-x scroll left -53px;*/ border-bottom: 1px solid #dedede; z-index: 4; overflow: hidden; }
.list-grid-switch a { background: url("/Content/Img/icons/list-switch_bdb86de.png") no-repeat scroll 0 0; float: left; height: 29px; width: 32px; }
.list-switched-on .list-switch { background-position: 0 0; }
.list-switched-on .grid-switch { background-position: right 0; }
    .list-switched-on .grid-switch:hover { background-position: right -70px; }
.grid-switched-on .list-switch { background-position: 0 -35px; }
    .grid-switched-on .list-switch:hover { background-position: 0 -70px; }
.grid-switched-on .grid-switch { background-position: right -35px; }
.bar { height: 28px; margin-right: 82px; padding: 11px 5px 11px 20px; white-space: nowrap; position: relative; }
.g-button { background: url("/Content/Img/icons/btn_2d148f31.png") no-repeat scroll 0 -144px; color: #536083; display: inline-block; font-size: 12px; font-weight: 400; height: 28px; line-height: 28px; margin: 0 5px; outline: 0 none; padding-left: 10px; position: relative; text-decoration: none; vertical-align: top; white-space: nowrap; }
    .g-button:link, .g-button:visited { color: #536083; }
.g-button-blue { background-position: 0 -531px; }
    .g-button-blue .g-button-right { background-position: right -531px; }
.g-button-right { background: url("/Content/Img/icons/btn_2d148f31.png") no-repeat scroll right -144px; cursor: pointer; display: block; height: 28px; line-height: 25px; padding-right: 15px; position: relative; right: -1px; text-align: center; }

.g-button .icon { display: inline-block; height: 24px; margin-right: 4px; vertical-align: middle; width: /*20*/ 18px; }
.icon-newdir { background: url("/Content/Img/icons/sys-icon_9b5f22d.png") no-repeat scroll -150px 0; }
    .g-button:hover .icon-newdir, .icon-newdir:hover { background-position: -180px 0; }
.icon-upload { background: url("/Content/Img/icons/sys-icon_9b5f22d.png") no-repeat scroll 0 0; }
.default-large { background: url("/Content/Img/icons/gridIcon_7165cae.png") no-repeat scroll 20px 15px; height: 16px; width: 16px; }
.g-button .text { display: inline-block; vertical-align: middle; }
.g-button-blue .text, .g-button-blue .g-button-right .text, .g-button-blue:hover .g-button-right .text, .g-button-blue:active .g-button-right .text { color: #fff; }

.historylistmanager-history { background: #fff none repeat scroll 0 0; display: none; height: 30px; left: 10px; line-height: 30px; position: absolute; top: 0; overflow: hidden; white-space: nowrap; }
    .historylistmanager-history li { float: left; list-style: outside none none; }
    .historylistmanager-history .historylistmanager-separator, .historylistmanager-history .historylistmanager-separator-gt { color: #aaa; font: 12px/1.5 tahoma,arial,"宋体" !important; padding: 0 3px; }
a { color: #7c87a5; outline: 0 none; text-decoration: none; }

.list-view-header { background: #f7f7f7 none repeat scroll 0 0; height: 43px; position: relative; z-index: 3; }
.list-header { overflow: visible; position: relative; z-index: 1; }
    .list-header ul { background: /*f7f7f7*/ #f3f6fc none repeat scroll 0 0; border: 1px solid /*#d2d2d2*/ #dedede; border-radius: 2px; color: #888; height: 41px; line-height: 41px; overflow: hidden; }
ul, li, ol { list-style: outside none none; }

.list-header .col { border-left: 1px solid #fff; border-right: 1px solid #e5e5e5; cursor: pointer; float: left; text-indent: 10px; }

.list-header .last-col { border-right: 0 none; }
.historylistmanager-history .historylistmanager-separator-gt { padding: 0 5px; }
.list-header .first-col { border-left: 0 none; text-indent: 0; }
.list-header .check { height: 41px; position: relative; width: 36px; float: left; }
.list-header .check-icon { cursor: default; height: 14px; left: 8px; position: absolute; top: 11px; width: 14px; padding: 0px; box-shadow: none; }
.list-header .col:hover { background: #e8f5fd none repeat scroll 0 0; }
.module-list-view .list-view { height: 100%; }
.global-clearfix::after, .g-clearfix::after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
.module-list-view .list-view-item { background: #fff none repeat scroll 0 0; border-bottom: 1px solid #daebfe; border-left: 1px solid #dedede; height: 38px; line-height: 38px; position: relative; text-overflow: ellipsis; white-space: nowrap; display: block; }

    .module-list-view .list-view-item .checkbox { background: url("/Content/Img/icons/checkbox_aea6cfd1.png") no-repeat scroll 9px 12px; cursor: default; display: block; height: 38px; left: 3px; line-height: 38px; position: absolute; text-align: left; text-indent: 10px; top: 0; width: 32px; margin: 0px; z-index: 1; }
    .module-list-view .list-view-item .checkbox1 { cursor: default; display: block; left: 13px; line-height: 38px; position: absolute; text-align: left; text-indent: 10px; top: 10px; width: 14px; z-index: 1; cursor: pointer; }
    .module-list-view .list-view-item .fileicon { cursor: default; display: block; height: 16px; left: 37px; position: absolute; top: 11px; width: 16px; display: block; }


.module-list-view .item-active .checkbox { background-position: -31px 15px; }
.module-list-view .list-view-item .file-name { float: left; position: relative; width: 60%; }
    .module-list-view .list-view-item .file-name .text { overflow: hidden; padding-right: 10px; position: relative; text-indent: 60px; text-overflow: ellipsis; white-space: nowrap; }
.module-list-view .open-enable .file-name a { cursor: pointer; color: #000; }
.module-list-view .list-view-item .file-size { float: left; height: 100%; text-indent: 10px; width: 16%; }
.module-list-view .list-view-item .ctime { float: left; height: 100%; text-indent: 10px; width: 23%; }

.list-view-item:nth-of-type(2n+1) { background: #e1f8fe none repeat scroll 0 0; }
.module-list-view .operate .g-button { margin: 10px 0 0 5px; }
    .module-list-view .operate .g-button, .module-list-view .operate .g-button .g-button-right { background: none repeat scroll 0 0; cursor: pointer; height: 20px; margin: 0; padding: 0; width: 20px; color: #3b8cff; font-size: 16px; }
.module-list-view .list-view-item .file-name .operate { display: none; height: 100%; position: absolute; right: 0; top: 0; width: 100px; z-index: 2; }
.module-list-view .g-button .g-button-right .icon { display: block; vertical-align: top; }
.module-list-view .g-dropdown-button .g-button { background: url("/Content/Img/icons/list-view_4e60b0c.png") no-repeat scroll 0 -40px; display: block; }
.g-button:hover .icon-download-blue, .icon-download-blue:hover { background-position: -120px 0; }
.module-list-view .g-dropdown-button .g-button:hover { background-position: -20px -40px; }
.module-list-view .operate .g-button { margin: 10px 0 0 5px; }
.module-grid-view .open-enable .file-name span { cursor: pointer; color: #000; margin: 10px 0px 0px 0px; display: block; }
.module-grid-view .grid-view { overflow: hidden; }
    .module-grid-view .grid-view > a { cursor: pointer; display: block; float: left; height: 124px; overflow: hidden; width: 147px; }
.g-dropdown-button { display: inline-block; height: 39px; margin: 0; padding: 0; position: relative; width: 30px; vertical-align: top; }

    .g-dropdown-button .menu { background: #fff none repeat scroll 0 0; border: 1px solid #aaa; font-size: 12px; position: relative; text-align: center; /*visibility: hidden;*/ }
    .g-dropdown-button .g-button, .g-dropdown-button .menu { display: list-item; list-style: outside none none; margin: 0; }
.yan .fileicon3 { cursor: default; display: inline-block; height: 16px; left: 37px; width: 16px; }
.module-grid-view .grid-view .grid-view-item { float: left; height: 124px; margin: 4px 4px 0 0; text-align: center; width: 87px; margin:0px 30px; }
.module-grid-view .grid-view-item.open-enable .fileicon { cursor: pointer; }
.module-grid-view .grid-view-item .FileShow { border: 1px solid #fff; height: 90px; margin: 0 auto; overflow: hidden; position: relative; width: 90px; display: block; }

.module-grid-view .grid-view-item .fileicon { background-repeat: no-repeat; height: 90px; width: 90px; display: block; }
    .module-grid-view .grid-view-item .fileicon img { position: absolute; top: -5px; left: -5px; }
.icon-download-blue { background: url("/Content/Img/icons/sys-icon_9b5f22d.png") no-repeat scroll -90px 0; }
.icon-Ping-blue { background: url("/Content/Img/icons/ping.png") no-repeat scroll -29px 5px; }
    .icon-Ping-blue:hover { background: url("/Content/Img/icons/ping.png") no-repeat scroll 0px 5px; }
.icon-X-blue { background: url("/Content/Img/icons/ping.png") no-repeat scroll -30px -23px; }
    .icon-X-blue:hover { background: url("/Content/Img/icons/ping.png") no-repeat scroll 0px -23px; }
.dir-large { background: url("/Content/Img/icons/gridIcon_7165cae.png") no-repeat scroll 16px -77px; }
.dir-cang-large { background: url("/Content/Img/icons/gridIcon_7165cae.png") no-repeat scroll -284px -77px; }
.dir-apps-large, .dir-app-large { background: url("/Content/Img/icons/gridIcon_7165cae.png") no-repeat scroll -84px -77px; }
.dir-backup-large { background: url("/Content/Img/icons/gridIcon_7165cae.png") no-repeat scroll -183px -77px; }
.dir-multi-large { background: url("/Content/Img/icons/gridIcon_7165cae.png") no-repeat scroll -600px -100px; }
.default-small { background: url("/Content/Img/icons/listIcon_ca26f6a.png") no-repeat scroll 0 0; height: 16px; width: 16px; }
.dir-multi-small { background: url("/Content/Img/icons/listIcon_ca26f6a.png") no-repeat scroll -120px -30px; }

.dir-small { background: url("/Content/Img/icons/listIcon_ca26f6a.png") no-repeat scroll 0 -30px; }
.dir-cang-small { background: url("/Content/Img/icons/listIcon_ca26f6a.png") no-repeat scroll -30px -30px; }
.dir-apps-small, .dir-app-small { background: url("/Content/Img/icons/listIcon_ca26f6a.png") no-repeat scroll -60px -30px; }
.dir-backup-small { background: url("/Content/Img/icons/listIcon_ca26f6a.png") no-repeat scroll -150px -30px; }
.fileicon-sys-s-exe { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: 0 -60px; }
.fileicon-sys-s-apk { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: -60px -60px; }
.fileicon-sys-s-psd { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: -180px -60px; }
.fileicon-sys-s-key { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: -90px -60px; }
.fileicon-sys-s-ai { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: -150px -60px; }
.fileicon-sys-s-ipa { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: -30px -60px; }
.fileicon-sys-s-vsd { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: -120px -60px; }
.fileicon-sys-l-exe { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: 20px -183px; }
.fileicon-sys-l-dmg { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: -180px -183px; }
.fileicon-sys-l-apk { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: -280px -183px; }
.fileicon-sys-l-psd { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: -580px -183px; }
.fileicon-sys-l-key { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: -480px -183px; }
.fileicon-sys-l-ai { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: -380px -183px; }
.fileicon-sys-l-ipa { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: -80px -183px; }

.fileicon-small-bt { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -270px 0; }
.fileicon-large-bt { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -780px 18px; }

.fileicon-small-dws { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -300px 0; }
.fileicon-large-dws { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -980px 17px; }

.fileicon-small-txt { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -120px 0; }
.fileicon-small-pdf { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -30px 0; }
.fileicon-small-doc { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -60px 0; }
.fileicon-small-ppt { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -150px 0; }
.fileicon-small-xls { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -90px 0; }
.fileicon-large-txt { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -580px 17px; }
.fileicon-large-pdf { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -480px 17px; }
.fileicon-large-doc { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -280px 17px; }
.fileicon-large-ppt { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -380px 17px; }
.fileicon-large-xls { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -180px 17px; }
.fileicon-small-pic { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: 0 0; }

.fileicon-small-mmap { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -330px 0; }
.fileicon-small-xmind { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -360px 0; }
.fileicon-small-mm { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -390px 0; }
.fileicon-large-mmap { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -1080px 17px; }
.fileicon-large-xmind { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -1180px 17px; }
.fileicon-large-mm { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -1280px 17px; }
.fileicon-small-mp3 { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -180px 0; }
.fileicon-large-mp3 { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -680px 17px; }
.icon-play-music { background: url("/Content/Img/icons/plugin-icon_b34adee.png") no-repeat scroll 0 -30px; }
.g-button:hover .icon-play-music { background-position: -30px -30px; }
.icon-edit { background: url("/Content/Img/icons/plugin-icon_b34adee.png") no-repeat scroll -60px -30px; }
.g-button:hover .icon-edit { background-position: -90px -30px; }
.fileicon-small-video { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -210px 0; }
.fileicon-large-video { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -880px 17px; }
.fileicon-small-zip { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -240px 0; }
.fileicon-small-rar { background-image: url("/Content/Img/icons/listIcon_82b617a.png"); background-position: -240px 0; }

.fileicon-large-zip { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: -80px 20px; }
.fileicon-large-rar { background-image: url("/Content/Img/icons/gridIcon_2a39f1a.png"); background-position: 20px 17px; }
.fileicon-all { background-image: url("/Content/Img/icons/gridIcon_7165cae.png"); background-position: 20px 17px; }
.fileicon-small { background-image: url("/Content/Img/icons/listIcon_ca26f6a.png"); background-position: 0px 0px; }
.icon-device-tool { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -60px 0; }
    .g-button:hover .icon-device-tool, .icon-device-tool:hover { background-position: -90px 0; }
.icon-device-listtool { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -120px 0; }
.g-button:hover .icon-device-listtool { background-position: -150px 0; }

.icon-faceSearch-gray { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -120px -30px; }
.g-button:hover .icon-faceSearch-gray { background-position: -150px -30px; }
.icon-history-gray { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll 0 -60px; }
.g-button:hover .icon-history-gray { background-position: -30px -60px; }
.icon-aside-share { background: url("/Content/Img/icons/navigator_7ebb24a.png") repeat scroll 0 0; }
a:hover .icon-aside-share { background-position: -23px 0; }
.icon-offline-download { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll 0 0; }
    .g-button:hover .icon-offline-download, .icon-offline-download:hover { background-position: -30px 0; }
.icon-print-gray { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -180px -30px; }
.g-button:hover .icon-print-gray { background-position: -210px -30px; }
.icon-beautify-gray { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -60px -60px; }
.g-button:hover .icon-beautify-gray { background-position: -90px -60px; }
.icon-puzzle-gray { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -120px -60px; }
.g-button:hover .icon-puzzle-gray { background-position: -150px -60px; }
.icon-aside-recyclebin { background: url("/Content/Img/icons/navigator_7ebb24a.png") repeat scroll 0 -22px; }
a:hover .icon-aside-recyclebin { background-position: -23px -22px; }
.icon-share-gray { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -180px 0; }
.g-button:hover .icon-share-gray { background-position: -240px 0; }
.icon-share-blue { background: url("/Content/Img/icons/plugin-icon_7318e47.png") no-repeat scroll -210px 0; }
    .icon-share-blue:hover { background-position: -240px 0; }
.icon-download-gray { background: url("/Content/Img/icons/sys-icon_9b5f22d.png") no-repeat scroll -60px 0; }
    .g-button:hover .icon-download-gray, .icon-download-gray:hover { background-position: -120px 0; }
.icon-delete { background: url("/Content/Img/icons/sys-icon_9b5f22d.png") no-repeat scroll -210px 0; }
.g-button:hover .icon-delete { background-position: -270px 0; }
.dataTables_info { margin-top: 10px; overflow: hidden; text-align: right; margin-right: 10px; }

.dataTables_paginate .first, .dataTables_paginate .previous, .dataTables_paginate .paginate_active, .dataTables_paginate .paginate_button, .dataTables_paginate .next, .dataTables_paginate .last { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: none repeat scroll 0 0 #EEEEEE; border-color: #CCCCCC #CCCCCC #CCCCCC; border-image: none; border-style: solid solid solid none; border-width: 1px 1px 1px 0; cursor: pointer; font-size: 11px; }

.dataTables_paginate { list-style: none; list-style-type: none; padding: 0px; margin: 0px auto; height: 27px; *display: inline; display: inline-block; *zoom: 1; }
.dataTables_paginate { list-style: none; list-style-type: none; padding: 0px; margin: 0px auto; height: 27px; *display: inline; *zoom: 1; }
    .dataTables_paginate li { float: left; display: inline-block; list-style: none; }

    .dataTables_paginate .NoNothink { width: 62px; text-align: center; height: 27px; }

    .dataTables_paginate .NoNothink2 { width: 60px; display: inline-block; height: 25px; line-height: 25px; }

    .dataTables_paginate .paginate_button_disabled { background: none repeat scroll 0 0 #EEEEEE; color: #CCCCCC; cursor: default; }

    .dataTables_paginate .first { border-left: 1px solid #CCCCCC; }

    .dataTables_paginate .paginate_active { background: none repeat scroll 0 0 #FFFFFF; width: 20px; text-align: center; display: inline-block; height: 25px; line-height: 25px; }

    .dataTables_paginate a { color: #666666; text-decoration: none; }

.global-clearfix::after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
#bd { background: #fff none repeat scroll 0 0; border: 1px solid #e7e7e7; box-shadow: 0 0 3px #d3d3d3; margin: 20px auto 0px auto; position: relative; width: 980px; }
#bd-main { min-height: 520px; background-color: #fff; padding: 0px 20px; }
.clearfix::after { clear: both; content: " "; display: block; font-size: 0; height: 0; line-height: 0; }
.clearfix::after { clear: both; content: " "; display: block; font-size: 0; height: 0; line-height: 0; }
.module-share-header .slide-show-header { height: 34px; padding: 20px 0 10px; cursor: move; }
    .module-share-header .slide-show-header h2 { color: #333; float: left; font-size: 14px; font-weight: 700; overflow: hidden; padding-top: 5px; text-overflow: ellipsis; white-space: nowrap; width: 300px; }
.global-icon-16 { background: url("/Content/Img/icons/sprite_list_icon.gif") no-repeat scroll -421px -83px; display: inline-block; height: 22px; width: 26px; }
.global-icon-16-zip, .global-icon-16-rar { background-position: -357px -83px; }
.global-icon-16-doc, .global-icon-16-docx { background-position: -101px -83px; }
.global-icon-16-xls, .global-icon-16-xlsx { background-position: -133px -83px; }
.global-icon-16-ppt, .global-icon-16-pptx { background-position: -261px -83px; }
.global-icon-16-vsd { background-position: -37px -83px; }
.global-icon-16-pdf { background-position: -69px -83px; }
.global-icon-16-apk { background-position: -389px -83px; }
.global-icon-16-dws, .global-icon-16-dwt, .global-icon-16-dxf, .global-icon-16-dwg { background-position: -6px -105px; }
.global-icon-16-mmap { background-position: -37px -106px; }
.global-icon-16-xmind { background-position: -69px -106px; }
.global-icon-16-mm { background-position: -69px -106px; }
.global-icon-16-exe, .global-icon-16-msi, .global-icon-16-dmg { background-position: -325px -83px; }
.global-icon-16-ipa { background-position: -293px -83px; }
.global-icon-16-zip, .global-icon-16-rar { background-position: -357px -83px; }
.global-icon-16-psd { background-position: -517px -83px; }
.global-icon-16-key { background-position: -550px -83px; }
.global-icon-16-ai { background-position: -583px -83px; }
.global-icon-16-all { background-position: -5px -2px; }
.global-icon-16-txt { background-position: -165px -83px; }
.global-icon-16-torrent { background-position: -453px -83px; }
.global-icon-16-dir { background-position: -5px -3px; }
.global-icon-16-jpg, .global-icon-16-jpeg, .global-icon-16-gif, .global-icon-16-bmp, .global-icon-16-png, .global-icon-16-jpe, .global-icon-16-cur, .global-icon-16-svg, .global-icon-16-svgz, .global-icon-16-tif, .global-icon-16-tiff, .global-icon-16-ico { background-position: -5px -83px; }
.global-icon-16-wma, .global-icon-16-wav, .global-icon-16-mp3, .global-icon-16-aac, .global-icon-16-ra, .global-icon-16-ram, .global-icon-16-mp2, .global-icon-16-ogg, .global-icon-16-aif, .global-icon-16-mpega, .global-icon-16-amr, .global-icon-16-mid, .global-icon-16-midi, .global-icon-16-m4a { background-position: -197px -83px; }
.global-icon-16-wmv, .global-icon-16-rmvb, .global-icon-16-mpeg4, .global-icon-16-mpeg2, .global-icon-16-flv, .global-icon-16-avi, .global-icon-16-3gp, .global-icon-16-mpga, .global-icon-16-qt, .global-icon-16-rm, .global-icon-16-wmz, .global-icon-16-wmd, .global-icon-16-wvx, .global-icon-16-wmx, .global-icon-16-wm, .global-icon-16-swf, .global-icon-16-mpg, .global-icon-16-mp4, .global-icon-16-mkv, .global-icon-16-mpeg, .global-icon-16-mov, .global-icon-16-asf { background-position: -229px -83px; }
.module-share-header .slide-show-header h2 em { height: 16px; margin-right: 5px; vertical-align: middle; width: 16px; }
.module-share-header .slide-show-header .slide-header-funcs { float: right; margin-right: -3px; }
.share-file-viewer { margin-top: 10px; }
.other-file-detail { border: 1px solid #f1f2ee; height: 300px; text-align: center; }
.other-file-icon { padding-top: 80px; }
.global-icon-62 { background: url("/Content/Img/icons/property_icon_101.png") no-repeat scroll 0 0; display: inline-block; height: 92px; width: 92px; }
.global-icon-62-doc, .global-icon-62-docx { background-position: -462px 0; }
.global-icon-62-xls, .global-icon-62-xlsx { background-position: -308px 0; }
.global-icon-62-ppt, .global-icon-62-pptx { background-position: -616px 0; }
.global-icon-62-vsd { background-position: -770px 0; }
.global-icon-62-pdf { background-position: -924px 0; }
.global-icon-62-apk { background-position: -1225px 0; }
.global-icon-62-dws, .global-icon-62-dwt, .global-icon-62-dxf, .global-icon-62-dwg { background-position: 0 -117px; }
.global-icon-62-mmap { background-position: -153px -117px; }
.global-icon-62-xmind { background-position: -306px -117px; }
.global-icon-62-mm { background-position: -460px -117px; }
.global-icon-62-exe, .global-icon-62-msi { background-position: -1378px 0; }
.global-icon-62-dmg { background-position: -2602px 0; }
.global-icon-62-ipa { background-position: -1540px 0; }
.global-icon-62-zip { background-position: -154px 0; }
.global-icon-62-rar { background-position: -2142px 0; }
.global-icon-62-psd { background-position: -2294px 0; }
.global-icon-62-key { background-position: -2447px 0; }
.global-icon-62-ai { background-position: -2753px 0; }
.global-icon-62-txt { background-position: -1072px 0; }
.global-icon-62-torrent { background-position: -1990px 0; }
.global-icon-62-jpg, .global-icon-62-jpeg, .global-icon-62-gif, .global-icon-62-bmp, .global-icon-62-png, .global-icon-62-jpe, .global-icon-62-cur, .global-icon-62-svg, .global-icon-62-svgz, .global-icon-62-tif, .global-icon-62-tiff, .global-icon-62-ico { }
.global-icon-62-wma, .global-icon-62-wav, .global-icon-62-mp3, .global-icon-62-aac, .global-icon-62-ra, .global-icon-62-ram, .global-icon-62-mp2, .global-icon-62-ogg, .global-icon-62-aif, .global-icon-62-mpega, .global-icon-62-amr, .global-icon-62-mid, .global-icon-62-midi, .global-icon-62-m4a { background-position: -1836px 0; }
.global-icon-62-wmv, .global-icon-62-rmvb, .global-icon-62-mpeg4, .global-icon-62-mpeg2, .global-icon-62-flv, .global-icon-62-avi, .global-icon-62-3gp, .global-icon-62-mpga, .global-icon-62-qt, .global-icon-62-rm, .global-icon-62-wmz, .global-icon-62-wmd, .global-icon-62-wvx, .global-icon-62-wmx, .global-icon-62-wm, .global-icon-62-swf, .global-icon-62-mpg, .global-icon-62-mp4, .global-icon-62-mkv, .global-icon-62-mpeg, .global-icon-62-mov, .global-icon-62-asf { background-position: -1685px 0; }
.module-comment-page { font-size: 14px; margin: 20px 0; }
.module-comment .title { background: url("/Content/Img/icons/comment_label_d150dd1.png") no-repeat scroll 0 0; height: 20px; text-indent: -999px; }
.module-comment .description { margin: 10px 0; padding-right: 6px; position: relative; }
    .module-comment .description .area { border: 1px solid #cacaca; font-size: 14px; height: 80px; overflow: auto; padding: 3px; resize: none; width: 100%; word-break: break-all; }
    .module-comment .description .placeholder { color: #999; cursor: text; font-size: 14px; left: 3px; position: absolute; text-align: left; top: 3px; width: 200px; }
.module-comment .fn-block { display: block; }
.module-comment .operation { text-align: right; }
.module-comment .fn-fr { float: right; }
.module-comment .btn-comment { background: url("/Content/Img/icons/comment_btn_184a0a6.png") no-repeat scroll 0 0; color: #fff; display: inline-block; font-family: "Microsoft Yahei"; text-align: center; }
.module-comment-page .btn-comment { font-size: 16px; height: 36px; line-height: 36px; width: 126px; }
.module-comment .item { border-bottom: 1px solid #f0f0f0; padding: 15px 0 10px; }
.module-comment-page .item .body { word-break: break-all; }
.module-comment .item .item-info { line-height: 1.8; }
.module-comment-page .item .body { word-break: break-all; }
.module-comment .item .item-info .foot { margin-top: 15px; overflow: hidden; }
.module-comment-page .talk, .module-comment-page .talk-to { font-weight: 700; }
.module-grid-view .grid-view-item.item-active .checkbox { background-position: -30px -36px; display: block; }
.module-grid-view .grid-view-item .checkbox { background: url("/Content/Img/icons/checkbox_aea6cfd1.png") no-repeat scroll 6px -36px; display: none; height: 30px; left: -7px; position: absolute; top: -7px; width: 30px; cursor: pointer; }


.module-grid-view .grid-view-item:hover .FileShow, .module-grid-view .grid-view-item.item-active .FileShow { border: 1px solid /*#2e80dc*/ #b4cdec; }
.module-grid-view .grid-view-item:hover .checkbox { display: block; }

.g-dropdown-button .menu { border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: 0 2px 3px #cfcfcf; display: block; left: -40px; top: 30px; position: absolute; text-align: center; text-indent: 0; width: 100px !important; z-index: 222; }

    .g-dropdown-button .menu .g-button-menu { border-bottom: 1px solid #e7e7e7; color: #666; height: 27px; line-height: 27px; text-decoration: none; display: block; }
.list-view-item:last-child .operate .menu { left: -40px; top: -50px; }



/*manage页面*/

#popup_overlay { position: absolute; z-index: 99998; display: none; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; background: none repeat scroll 0% 0% #313131 !important; opacity: 0.6 !important; filter: alpha(opacity=60); }
#popup_container { position: fixed; z-index: 99999; padding: 0px; display: none; margin: 0px; min-width: 300px; }
.widgettitle { background: #0ca3d2 none repeat scroll 0 0; border: 1px solid #b4cdec; border-radius: 5px; color: #fff; cursor: pointer; font-size: 14px; padding: 12px 15px; }


.widgetcontent { background-color: #fff; border: 1px solid #b4cdec; padding: 15px 12px; }

.Select1 { border: 1px solid #c8dcef; padding: 2px 5px; width: 205px; }

input[type="button"] { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #20a2da; border-image: none; border-radius: 9px; border-style: solid; border-color:#20a2da; box-shadow: none; color: #fff; cursor: pointer; display: inline-block; font-size: 12px; height: 30px; line-height: 10px; margin: 3px; padding: 0px; text-align: center; text-shadow: none; vertical-align: middle; width: 64px; }

.GroupShare { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #20a2da; border-image: none; border-radius: 9px; border-style: solid; border-color:#20a2da; box-shadow: none; color: #fff; cursor: pointer; display: inline-block; font-size: 12px; margin: 3px; padding: 0px; text-align: center; text-shadow: none; vertical-align: middle;  padding:8px 16px; font-size:14px; font-weight:bold; }

.GadHyA { background: #fff none repeat scroll 0 0; border: 1px solid rgba(58, 140, 255, 0.3); border-radius: 2px; height: 24px; vertical-align: middle; margin-top: 2px; width:100%}
    .GadHyA:focus { box-shadow: 0 0 5px 0 #3b8cff; outline: 0 none; }
#Qushare { position: absolute; top: 5px; left: 80px; line-height: normal; display: none; }
.Linkshare { height: 40px; line-height: 40px; padding-left: 20px; font-size: 15px; font-weight: bold; color: #3b8cff; padding-top: 10px; }
.FlieOperation { display: none; }
.icon-recovery:before { content: "\e923"; }
.icon { font-family: yunfont !important; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1; text-transform: none; }
#Qushare .btn { background: #fff none repeat scroll 0 0; border: 1px solid #c0d9fe; border-radius: 4px; color: #3b8cff; display: inline-block; font-size: 12px; height: 28px; line-height: 28px; margin-right: 6px; margin-top: 3px; outline: 0 none; padding-left: 35px; position: relative; text-decoration: none; vertical-align: middle; white-space: nowrap; }
#Qushare .restore-btn .ico { background-position: -180px -234px; }
#Qushare .btn .ico { display: block; font-size: 16px; height: 20px; left: 12px; position: absolute; top: 6px; width: 20px; }

#Qushare .btn-val { cursor: pointer; display: block; font-weight: 100; height: 28px; line-height: 28px; padding-right: 10px; text-align: center; text-decoration: none; }
#Qushare .btn:hover .ico { cursor: pointer; }
#Qushare .btn:hover { border: 1px solid #c0d9fe; color: #77afff; }
.icon-delete2:before { content: "\e903"; }
.aGMvFtb { display: block; height: 100%; margin: 0; min-height: 400px; overflow-x: hidden; overflow-y: auto; position: relative; text-align: left; }
.hqvyGW05 { color: #999; font-size: 14px; font-weight: 700; padding: 10px 0; text-align: center; }

.aGMvFtb .wegnv3JM { background: transparent url("/Content/Img/emptyfile_intro_711933a.png") no-repeat scroll center 0; left: 50%; margin: -190px 0 0 -244px; padding-top: 146px; position: absolute; text-align: center; top: 50%; width: 488px; }

.aGMvFtb .ggEQwFb { color: #424e67; font-weight: 200; margin: 20px 0; }

    .aGMvFtb .ggEQwFb .cjujvy90 { cursor: pointer; margin: 0 5px; position: relative; }
    .aGMvFtb .ggEQwFb span { color: #3b8cff; }
#select { position: absolute; background: transparent url('/Content/Img/sprite_icon.gif?t=201301175055') no-repeat scroll center center; opacity: 0.5; z-index: 99999; width: 37px; height: 36px; font-size: 9px; top: 0px; left: 0px; z-index: 99; cursor:pointer; }
    #select em { top: 18px; left: 18px; position: relative; color: rgb(255, 255, 255); font-size: 10px; }

#hua { background-color: #8bbff9; border: 1px solid #1362b4; display: none; height: 0; left: 1192px; opacity: 0.5; position: absolute; top: 306px; width: 0; z-index: 99999; }
.selected { border: 1px solid red; }

.module-tip { background: #f9edbe none repeat scroll 0 0; border: 1px solid #f7d997; border-radius: 2px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); color: #7b6a51; font-family: "Microsoft YaHei",SimSun; max-height: 27px; padding: 0 10px; position: fixed; z-index: 95; }
.module-tip { background-color: #faf0cd; border: 1px solid #f3e041; border-radius: 4px; box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); color: #666; margin-top: 8px; max-height: 27px; }

    .module-tip .tip-icon { margin-top: 7px; }

    .module-tip .tip-icon { background: url("/Content/Img/tip_95a4cb0.png") no-repeat scroll 0 0; display: inline-block; height: 100px; margin: 2px 5px 0 0; width: 20px; }
    .module-tip .tip-icon-caution { background-position: -40px 0; }
    .module-tip .tip-msg { line-height: 37px; max-width: 450px; }
    .module-tip .tip-msg { display: block; line-height: 27px; max-width: 400px; min-width: 1px; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; }
    .module-tip .tip-msg, .module-tip .tip-icon, .module-tip .tip-close { display: block; float: left; }
    .module-tip .tip-icon-loading { background: rgba(0, 0, 0, 0) url("/Content/Img/loading_7ad8ea6.gif") no-repeat scroll 50% 3px; }
.Linkshare .bar { padding: 0; font: 12px/1.5 "Microsoft YaHei",tahoma,arial,"宋体"; height: 20px; line-height: 20px; padding-top: 6px; margin-right: 0px; }

    .Linkshare .bar .text { color: #999; float: left; margin-left: 18px; margin-top: 5px; }

.Linkshare .clear-btn { border: 1px solid #c0d9fe; border-radius: 4px; color: #3b8cff; display: inline-block; font-size: 12px; height: 26px; line-height: 26px; outline: 0 none; padding-left: 10px; position: relative; text-decoration: none; vertical-align: middle; white-space: nowrap; float: right; margin-right: 10px; }

    .Linkshare .clear-btn .val { cursor: pointer; font-weight: 100; height: 25px; line-height: 25px; padding-right: 10px; text-align: center; text-decoration: none; }
.Linkshar .bar .clear-btn:hover { color: #77afff; }
.db-inline { display: inline-block; float: left; }
.db-none { display: none;}
.icon-share-cancel:before{content:"\e91b"}
.g-button  .icon-share{ height:14px; font-size:16px;}